In [11]:

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading my data

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#data clean up

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [12]:
#creating a new data frame
dataset = load_dataset('lukebarousse/data_jobs')
df_orginal = dataset['train'].to_pandas()

In [ ]:

df_altered = df_orginal

#Checking if dataframes are the same or not

print('ID of orginal:  ',id(df_orginal) )
print('ID of altered: ', id(df_altered))
print('Are the two dataframes the same? ',id(df_orginal) == id(df_altered))

ID of orginal:   1980050201568
ID of altered:  1980050201568
Are the two dataframes the same?  True

In [ ]:
# chrcking the different between the orginal and altered data 
median_salary = df_altered['salary_year_avg'].median()
df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)
df.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64

In [18]:
df_orginal.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64