In [1]:
# Import Package
import numpy as np

In [2]:
# Example: An array representing the number of years of experience required for three different data science job listings.
years_of_experience = np.array([1, 2, 3, 4, 5])

In [3]:
years_of_experience_plus_one = years_of_experience + 1
years_of_experience_plus_one

array([2, 3, 4, 5, 6])

In [4]:
years_of_experience_minus_one = years_of_experience - 1
years_of_experience_minus_one

array([0, 1, 2, 3, 4])

In [5]:
years_of_experience_half = years_of_experience / 2
years_of_experience_half

array([0.5, 1. , 1.5, 2. , 2.5])

In [6]:
years_of_experience_double = years_of_experience * 2
years_of_experience_double

array([ 2,  4,  6,  8, 10])

In [7]:
# Example: Selecting the experience requirement for the second and third job listings.
second_and_third_jobs_experience = years_of_experience[1:3]
second_and_third_jobs_experience

array([2, 3])

In [8]:
# Example: Selecting only those job listings that require more than 1 year of experience.
jobs_with_more_than_one_year_exp = years_of_experience[years_of_experience > 2]
jobs_with_more_than_one_year_exp

array([3, 4, 5])

In [9]:
import random 

salary = [random.randint(100000, 150000) for num in range(10)]

In [10]:
salary_array = np.array(salary)
salary_array

array([135230, 114062, 138836, 135570, 113548, 131902, 116752, 123711,
       115560, 120756])

In [11]:
total_sum_salaries = np.sum(salary_array)
total_sum_salaries

np.int64(1245927)

In [12]:
# This is a conceptual example since taking the product of a boolean series isn't common
product_salaries = np.prod(salary_array)
product_salaries

np.int64(1097958926062583808)

In [13]:
cumulative_sum_salaries = np.cumsum(salary_array)
cumulative_sum_salaries

array([ 135230,  249292,  388128,  523698,  637246,  769148,  885900,
       1009611, 1125171, 1245927])

In [14]:
# Cumulative product of 'job_no_degree_mention' column (conceptual example)
cumulative_prod_salaries = np.cumprod(salary_array)
cumulative_prod_salaries

array([              135230,          15424604260,     2141490357041360,
       -4826057475255650656,  8251997361029169024,  4821845237359501568,
        2339510728430850048, -6202791593974566912,  8984616504804343808,
        1097958926062583808])

In [15]:
average_salary = np.mean(salary_array)
average_salary

np.float64(124592.7)

In [16]:
median_salary = np.median(salary_array)
median_salary

np.float64(122233.5)

In [17]:

salary_variance = np.var(salary_array, ddof=1)  # ddof=1 for sample variance
salary_variance

np.float64(97932852.9)

In [18]:
# Standard deviation of 'salary_year_avg' column
salary_std_dev = np.std(salary_array, ddof=1)  # ddof=1 for sample standard deviation
salary_std_dev

np.float64(9896.102914784184)

In [19]:
# Minimum of 'salary_year_avg' column
min_salary = np.min(salary_array)
min_salary

np.int64(113548)

In [20]:
# Maximum of 'salary_year_avg' column
max_salary = np.max(salary_array)
max_salary

np.int64(138836)