In [ ]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
job_counts = df['job_title_short'].value_counts()

job_counts

In [ ]:
plt.bar(job_counts.index, job_counts) 
plt.show()

In [ ]:
job_counts.plot(kind='bar')
plt.show()

In [ ]:
job_counts.plot(kind='bar')
plt.xlabel('')
plt.ylabel('Count of Postings')
plt.title('Job Postings by Job Title')
plt.xticks(rotation=45, ha='right') 
plt.show()

In [ ]:

df.plot(x='job_posted_date', y='salary_year_avg', kind='line')

In [ ]:
# sort index by job posted date 
df = df.set_index('job_posted_date')
df.sort_index(inplace=True)
df.head()

In [ ]:
df.plot(y='salary_year_avg', kind='line')